$background-color_1: #166534;

.animated-bg-btn {
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	* {
		cursor: pointer !important;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
	label {
		position: relative;
		top: -1px;
	}
	&:hover {
		.animated-btn-icon {
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
		}
		transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-o-transform: scale(1.03);
		.btn-transition {
			width: 16em;
			height: 16em;
		}
	}
}

.btn-transition {
	background-color: $background-color_1;
	border-radius: 50%;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.usr-l-fade .list-user-element {
	opacity: 0;
	transform: rotateX(-90deg);
	transition: all 0.2s cubic-bezier(0.36, -0.64, 0.34, 1.76);
	-webkit-transition: all 0.2s cubic-bezier(0.36, -0.64, 0.34, 1.76);
	-moz-transition: all 0.2s cubic-bezier(0.36, -0.64, 0.34, 1.76);
	-ms-transition: all 0.2s cubic-bezier(0.36, -0.64, 0.34, 1.76);
	-o-transition: all 0.2s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.usr-l-fade .list-user-element.show {
	opacity: 1;
	transform: none;
}

.usr-l-fade {
	perspective: 100px;
}
