$background-color_1: #166534;

.animated-bg-btn {
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	* {
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
	label {
		position: relative;
		top: -1px;
	}
	&:hover {
		.animated-btn-icon {
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
		}
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
		.transition {
			width: 16em;
			height: 16em;
		}
	}
}
// .transition {
// 	background-color: $background-color_1;
// 	border-radius: 50%;
// 	width: 0;
// 	height: 0;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	transform: translate(-50%, -50%);
// 	-webkit-transform: translate(-50%, -50%);
// 	-moz-transform: translate(-50%, -50%);
// 	-ms-transform: translate(-50%, -50%);
// 	-o-transform: translate(-50%, -50%);
// }
