.content-text {
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-div {
	overflow-y: auto;
}

@media only screen and (min-width: 1024px) {
	.table-div {
		min-height: calc(100vh - 280px);
		max-height: calc(100vh - 580px);
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.table-div {
		min-height: calc(100vh - 400px);
		max-height: calc(100vh - 620px);
	}
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
	.table-div {
		min-height: calc(100vh - 400px);
		max-height: calc(100vh - 950px);
	}
}

@media only screen  and (min-width: 417px) and (max-width: 640px) {
	.table-div {

		min-height: calc(100vh - 535px);
		max-height: calc(100vh - 535px);
		&.open-menu{
			min-height: calc(100vh - 585px) !important;
			max-height: calc(100vh - 585px) !important;
		}
	}
}

@media only screen and (max-width: 417px) {
	.table-div {

		min-height: calc(100vh - 535px);
		max-height: calc(100vh - 535px);
		&.open-menu{
			min-height: calc(100vh - 630px) !important;
			max-height: calc(100vh - 630px) !important;
		}
	}
}

.folders-div {
	display: flex;
	flex-direction: row;
}

.position-sticky-left {
	position: sticky;
	left: 0px;
}

.content-scroll {
	overflow-x: auto;
}

#invisible-scrollbar {
	overflow-x: auto;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

#scroll-visible-section {
	overflow-x: auto;
	width: 100%;
	height: 10px;

	&::-webkit-scrollbar-track {
		background: white;
	}
}

.scrollbar-color::-webkit-scrollbar-track {
	background: white;
}

.header-stick-top {
	position: sticky;
	top: 0;
	background-color: #f1f1f1;
}

.align-bottom {
	display: flex;
	align-items: flex-end;
}

#column {
	&-name {
		padding-left: 5%;
		width: 30%;
	}

	&-cid {
		width: 15%;
	}

	&-size {
		width: 12%;
	}

	&-type {
		width: 17%;
	}

	@media (min-width: 1400px) {
		&-name {
			padding-left: 5%;
			width: 27%;
		}

		&-cid {
			width: 16%;
		}

		&-size {
			width: 14%;
		}

		&-type {
			width: 15%;
		}
	}
}

#header-scroll-inv {
	overflow: scroll;

	&_1::-webkit-scrollbar,
	&_2::-webkit-scrollbar,
	&_3::-webkit-scrollbar,
	&_4::-webkit-scrollbar,
	&_5::-webkit-scrollbar,
	&_6::-webkit-scrollbar {
		display: none;
	}
}

#table-row-div {

	&_1,
	&_2,
	&_3,
	&_4,
	&_5,
	&_6 {
		overflow-x: hidden;
	}

	&_1::-webkit-scrollbar,
	&_2::-webkit-scrollbar,
	&_3::-webkit-scrollbar,
	&_4::-webkit-scrollbar,
	&_5::-webkit-scrollbar,
	&_6::-webkit-scrollbar {
		display: none;
	}
}

.file-name,
.row-name {
	width: 39%;
}