.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Adjust width */
  height: 5px; /* Adjust height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Adjust track background color */
  border-radius: 10px; /* Round corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Adjust thumb color */
  border-radius: 10px; /* Round corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Adjust hover color */
}

.table-with-lines th:not(:last-child),
.table-with-lines td:not(:last-child) {
  border-right: 1px solid #EEEEEE;
  margin: 10px;
}