@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";
@import "./components/modal.scss";
@import "./components/spinner.scss";
@import "./components/scrollbar.scss";
@import "./components/table.scss";
@import "./components/grid.scss";

body {
}

* {
  font-family: "SF Mono";
  letter-spacing: -0.3px;
  box-sizing: border-box;
  min-width: 0;
}
