.card-terminal-container {
    padding: 4px;
    overflow: hidden;
    border: 1px solid #c5c5c5;
    border-radius: 12px;
    background-color: #d9d9d92f;
    backdrop-filter: blur(8px);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.wrap-terminal-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 10;
    border: 0.5px solid #525252;
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
}

.terminal {
    display: flex;
    flex-direction: column;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    width: 100%; 
    box-sizing: border-box;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    min-height: 40px;
    padding-inline: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #202425;
    width: 100%; 
}

.body {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow-x: auto; 
    overflow-y: auto; 
    padding: 1rem;
    line-height: 19px;
    color: white;
    background-color: black;
    white-space: pre;
    width: 100%; 
    box-sizing: border-box;
}

.pre {
    display: block; 
    white-space: pre; 
    background-color: transparent;
    overflow: visible; 
    box-sizing: border-box;
    font-size: 16px;
    width: 100%; 
    padding: 0;
    margin: 0; 
}

.pre code {
    color: #fff;
    white-space: pre; 
}


@media (max-width: 768px) {
  .card-terminal-container {
      padding: 2px;
      width: 100%;
      max-width: 100%;
  }

  .body {
      padding: 0.5rem;
      font-size: 14px;
  }
}
  
  @keyframes blinking {
    20%,
    80% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0);
    }
  }
  @keyframes cursor {
    50% {
      border-right-color: transparent;
    }
  }
  @keyframes inputs {
    0%,
    100% {
      width: 0;
    }
    10%,
    90% {
      width: 58px;
    }
    30%,
    70% {
      width: 215px;
      max-width: max-content;
    }
  }
  @keyframes clipboard-check {
    100% {
      color: #fff;
      d: path(
        "M 9 5 H 7 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 10 a 2 2 0 0 0 2 -2 V 7 a 2 2 0 0 0 -2 -2 h -2 M 9 5 a 2 2 0 0 0 2 2 h 2 a 2 2 0 0 0 2 -2 M 9 5 a 2 2 0 0 1 2 -2 h 2 a 2 2 0 0 1 2 2 m -6 9 l 2 2 l 4 -4"
      );
    }
  }


 